body{
    background-color: black;
    color: aliceblue;
}



main{
    display: flex;
    flex-wrap: wrap;
}

.produto{
    margin: 20px;
    border: 1px solid white;
    width: 15vw;
    font-size: 1rem;

}

.nome{
    font-weight: bold;
    font: 2vw;
    font-size: 3vw;
}

.imagem-produto > img{
    width: 100%;

}

.preco{
font-size: 3vw;


}

